/* p{
letter-spacing: 5px;
font-size: 300%;
} */

/* myText{
color: brown;
}

#this-one {
  color: blue;
} */
html{
  background-color:#9e7a65;
  /* background: repeating-linear-gradient( to right, 
  #9e7a65, 
  #9e7a65 20px, 
  #eae3dd 20px, 
  #eae3dd 20.11px); */
  color: rgb(78, 78, 78);
  font-family: 'trebuchet', 'Lato', 'Arial';
  font-size: 15px;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
}

h1{
  font-family: 'Trebuchet MS';
  font-size: 50px;
  text-align: center;
  color: #eae3dd;
}

h1:after{
  display: block;
  height: 2px;
  background-color: #eae3dd;
  content: " ";
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

section{
  font-family: maison_neuebook;
  background-color: #eae3dd;
  padding: 35px;
  margin: auto;
  width: 55%;
  border: .125px solid rgb(167, 167, 167);
  text-align: center;
}

#create,
#pwButton,
#pwButton2,
#pwButton3{
    display: inline-block;
    text-align: center;
    padding: 8px 18px;
    font-size: 85%;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

#pwButton{
  display: none;
}

#pwButton2{
  display: none;
}

#pwButton3{
  display: none;
}

#letters{
  margin-left: -17px;
}

#error{
  font-weight: bold;
}

/* .check-boxes{
  text-align: left;
} */

